[submodule "build"]
  path = build
  url = https://github.com/caarlos0/shell-travis-build.git
[submodule "tmux/tmux.symlink/plugins/tpm"]
	path = tmux/tmux.symlink/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
